.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 900px;
}

.gallery-item {
  flex: 0 0 calc(33.333% - 20px);
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.gallery-item img {
  width: 100%;
  height: 250px;  /* Stała wysokość dla każdego zdjęcia */
  object-fit: cover;  /* Zachowuje proporcje zdjęcia i wypełnia całą przestrzeń kontenera */
  transition: transform 0.3s;
}

.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item p {
  text-align: center;
  margin-top: 10px;
  color: #383838;
  font-weight: bold;
}
.gallery-item {
  flex: 0 0 calc(33.333% - 20px);
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Ustawia kierunek główny na pionowy */
  justify-content: center; /* Wyśrodkowuje zawartość wzdłuż osi głównej (pionowej) */
  align-items: center; /* Wyśrodkowuje zawartość wzdłuż osi poprzecznej (poziomej) */
}
