.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; // Wyśrodkowanie elementów w poziomie
  align-items: center; // Opcjonalne: wyśrodkowanie elementów w pionie
  margin: 0 auto; // Wyśrodkowanie całego kontenera galerii
  max-width: 900px; // Dostosowanie szerokości kontenera
}

.gallery-item {
  flex: 0 0 250px; // Szerokość elementu ustawiona na 250px
  height: 250px; // Wysokość elementu ustawiona na 250px
  position: relative;
  overflow: hidden;
  margin: 10px; // Odstęp między elementami
}

.gallery-item img {
  width: 100%; // Szerokość obrazu dopasowana do kontenera
  height: 100%; // Wysokość obrazu dopasowana do kontenera
  object-fit: cover; // Obraz będzie pokrywał całą dostępną przestrzeń bez deformacji
  transition: transform 0.3s;
}

.gallery-item:hover img {
  transform: scale(1.1); // Powiększenie obrazu po najechaniu
}

.gallery-item p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #383838;
  font-weight: bold;
  z-index: 2; // Tekst będzie widoczny na obrazie
}
